.button {
    background: linear-gradient(darkg);
    font-family: 'Montserrat';
    padding: 10px 20px;;
    font-weight: 500;
    border-radius: 40px;
    color: white;
    background: black;
}
.notes-heading {
    margin-left: 10px;
    font-weight: 400;
    font-size: 26px;
    margin: 5px;
}
.notes {

    display: flex;
    flex-direction: column;
}
.add-note {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.notes-list {
    display: flex;
    flex-direction: column;
    margin-top: 5px;

}
